@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --main-color: #040714;
    --site-color: #fff;
    --active-color: #0063e5;
    --first-color: #08132f;
    --second-color: #090b13;
    --third-color: #1b202a;
}

body {
    background-color: var(--main-color);
    color: var(--site-color);
}

.max-width {
    max-width: 1300px;
    padding: 0 10px;
    margin: auto;
}


/* Inicio menu */

.navbar .logo a {
    color: var(--active-color);
    font-size: 35px;
    font-weight: 500;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--main-color);
    border-bottom: solid var(--third-color) 1px;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: var(--site-color);
    font-size: 18px;
    font-weight: 400;
    margin-left: 25px;
}

.menu-btn {
    color: var(--site-color);
    font-size: 23px;
    cursor: pointer;
    display: none;
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }
    #menu-icon.active::before {
        content: "\f00d";
    }
    .navbar .menu {
        background-color: var(--main-color);
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    #menu-site.active {
        left: 0;
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;
    }
}


/* Fim menu */


/* Inicio do topo */

section {
    padding: 50px 0;
}

@media (max-width: 690px) {
    section {
        padding: 20px 0;
    }
}

.top {
    color: var(--site-color);
    display: flex;
    background: linear-gradient(to right, var(--main-color) 25%, rgba(255, 255, 255, 0)), url("../images/banner_top_v5.jpg") no-repeat center;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.top .max-width {
    width: 100%;
    display: flex;
}

.top .top-content .text-1 {
    font-size: 25px;
}

.top .top-content .text-2 {
    font-size: 55px;
    font-weight: 400;
    margin-left: -3px;
}

.top .top-content .text-3 {
    font-size: 32px;
    margin: 5px 0;
}

.top .top-content a {
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 300;
    border-radius: 6px;
    border: 2px solid var(--active-color);
    transition: all 0.3s ease;
}

.top .top-content a:hover {
    color: var(--active-color);
    background: none;
}


/* Fim do topo */

.services {
    color: var(--site-color);
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
    margin: 60px;
}

.services .title {
    text-align: center;
    margin: 40px 0;
    font-weight: 400;
    font-size: 35px;
}

.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: var(--first-color);
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}


/*
Alterar a cor de fundo do cartao
*/

.services .serv-content .card:hover {
    background: var(--active-color);
}

.services .serv-content .card i {
    font-size: 50px;
    color: var(--active-color);
    transition: all 0.3s ease;
}

.services .serv-content .card:hover i {
    color: var(--site-color);
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

@media (max-width: 947px) {
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media (max-width: 690px) {
    .services .serv-content .card {
        width: 100%;
    }
}

#mostrar {
    display: none;
}

#passar_mouse:hover #mostrar {
    display: block;
}


/*fim habilidades*/


/* Inicio do rodape */

footer {
    background: var(--second-color);
    padding: 25px 23px;
    color: var(--site-color);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer span a {
    color: var(--active-color);
}

footer span a:hover {
    color: var(--site-color);
}


/* Inicio do servico sobre-mim */

.sobre-mim {
    color: var(--site-color);
    background: var(--first-color);
    font-family: 'Poppins', sans-serif;
}

.sobre-mim .title {
    text-align: center;
    margin: 50px 0;
    font-weight: 400;
    font-size: 35px;
}

.sobre-mim .sobre-mim-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sobre-mim .sobre-mim-content .left {
    width: 45%;
}

.sobre-mim .sobre-mim-content .left img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.sobre-mim .sobre-mim-content .right {
    width: 55%;
}

.sobre-mim .sobre-mim-content .right .text {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 10px;
}

.sobre-mim .sobre-mim-content .right p {
    text-align: justify;
}

.sobre-mim .sobre-mim-content .right a {
    display: inline-block;
    background: var(--active-color);
    color: var(--site-color);
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid var(--active-color);
    transition: all 0.3s ease;
}

.sobre-mim .sobre-mim-content .right a:hover {
    color: var(--active-color);
    background: none;
}

@media (max-width: 1104px) {
    .sobre-mim .sobre-mim-content .left img {
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 947px) {
    .sobre-mim .sobre-mim-content .column {
        width: 100%;
    }
    .sobre-mim .sobre-mim-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .sobre-mim .sobre-mim-content .right {
        flex: 100%;
    }
}


/* Fim do sobre-mim */


/* Fim do rodape */

.line {
    margin: 0 auto;
    font-size: 3em;
    align-items: center;
    white-space: pre-wrap;
}

.projetos {
    padding-top: 93px;
}

.projetos h2,
.projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}

.btn-ver {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: #005b8f;
    border: none;
    transition: ease-in-out 0.3s;
}

.btn-ver:hover {
    background-color: #0072b3;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.pro {
    background-color: #C4C4C4;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #005b8f;
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

@media (max-width:1200px) {
    .projetos {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    #projetos {
        display: flex;
        justify-content: center;
    }
    .projetos-itens {
        flex-direction: column;
    }
}

@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }
}

.git {
    font-family: 'Fira Sans', sans-serif;
    color: #C4C4C4;
}

.git:hover {
    color: #005b8f;
}

.svg-selenium:hover path:first-of-type {
    fill: #fff;
}

.svg-selenium:hover path:not(:first-of-type) {
    fill: #0063e5;
}